/*  구글 웹폰트 로딩  */
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/*reset*/
a {
    color: inherit;
    text-decoration: none;
}
button, input {
    outline: none;
    border: none;
    color: inherit;
}

/*common*/
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
body {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.en {
    font-family: 'Exo 2', sans-serif;
}
br.mo {/*br 작성시 클래스 이름이 mo면 제외시킴.*/
    display: none;
}

/*header style*/
header {
    background: rgba(0, 0, 0, 0.2);
    height: 80px;
    line-height: 80px;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 9999;
}

header .inner-header {
   /* background: orange;*/
    width: 84%;
    margin: 0 auto; /*가운데 지정*/  
}

header .inner-header .logo {
    /*background: skyblue;*/
    float: left;
    width: 20
    0px;
}

header .inner-header .logo img {
    width: 100%;
    vertical-align: middle;

    border-radius: 15px;
    opacity: 9px;
}

header .inner-header .gnb {
    /*background: violet;*/
    float: left;
    margin-left: 80px;
}

header .inner-header .gnb li {
    margin-right: 80px;
}

header .inner-header .gnb li a {
    display: block;
}

header .inner-header .gnb li a:hover {
    color: rgb(255, 117, 140);
}
/*nav태그를 지목해서 gnb와 tnb의 글자를 한번에 지목*/
header .inner-header nav li a {
    font-size: 16px;
    color: white;
}

header .inner-header .tnb {
   /* background: greenyellow;*/
    float: right;
}

header .inner-header .tnb li {
    margin-right: 25px;
}

header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
    margin-right: 8px;
    font-size: 20px;
}

header .inner-header .tnb li:last-child a {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 5px 15px;
}

header .inner-header .tnb li:last-child a:hover {
    background: #fff;
    background: rgb(255, 129, 150);
}

header .inner-header .tnb li:last-child i {
    margin-left: 5px;
    font-size: 20px;
}

header .inner-header nav li {
    float: left;
}

header .inner-header .gnb-mobile {
    display: none;
}

/*section.main style*/

section.main {
    background: url(../img/vis_4.jpg)
    no-repeat center / cover fixed;
    height: 100vh; /*전체를 채우게함.*/
    position: relative;
}

section.main .main-title {
    /*background: yellow;*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 10px #123;

    animation: uprise 1s;
}

@keyframes uprise {
    from {
        opacity: 0;
        top: 60%;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}

section.main .main-title h2 {
    font-size: 55px;
}

section.main .main-title p {
    font-size: 25px;
    margin: 20px 0;
}

section.main .main-title .view {
    font-size: 20px;
    letter-spacing: 2px;

    display: block;
    width: 180px;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 8px 0;

    position: relative;
    overflow: hidden;
}

section.main .main-title .view::after {
    content: '';/*가상요소 추가를 위해선 필수로 들어가야함.*/
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}

section.main .main-title .view:hover::after  {
    width: 100%;
}

/*section에 들어갈 디자인을 일괄 지정*/
section .title {
    text-align: center;
}

section .title h2 {
    font-size: 45px;
    color: #111;
    margin-bottom: 10px ;

}

section .title p {
    font-size: 18px;
    color: #555;
}

section .sub-container {
    /*background: tomato;*/
    width: 74%;
    margin: 0 auto;
}

/*section.about style*/
section.about {
   /* background: orange;*/
    margin: 80px 0;
}

section.about .sub-container {
   /* background: skyblue;*/
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

section.about .sub-container li {
    box-sizing: border-box; /*width 길이 고정*/
    float: left;
    width: 33.3333%;
    height: 510px;
}

section.about .sub-container li .img-box {
overflow: hidden; /*사진 전체가 키워지는걸 막음. 사진 확대되는것으로 처리됨.*/
}

section.about .sub-container li .img-box img {
    width: 100%;
    transition: 0.6s;
}

section.about .sub-container li a:hover .img-box img {
    transform: scale(1.2);
}

section.about ul li a .text {
    padding: 25px;
}

section.about ul li a .text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

section.about ul li a .text p  {
    font-size: 16px;
    margin-bottom: 20px;
}

section.about ul li a .text p.more {
    /*일괄 대소문자 변경 <-> lowercase*/
    text-transform: uppercase; 
    font-weight: bold;
    /*background: skyblue;*/
    padding-left: 40px;

    position: relative;
}

section.about ul li a .text p.more::before {
    content: '→';
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%; /*완전히 원이 되게 함.*/
    background: rgb(255, 84, 164);

    position: absolute; /*기준으로 삼을 부모요소가 필요하다.*/
    top: -7px;
    left: 0;
}

/*section.innovation style*/
section.innovation {
    margin-bottom: 150px;

}

section.innovation .img-box {
    margin-top: 50px;
    height: 540px;
    background: url(../img/product_1.jpg)
    no-repeat center / cover;

    position: relative;
}

section.innovation .img-box .inner {
    background: #3a3c4e;
    width: 80%;
    color: #fff;

    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 0);
}

section.innovation .img-box .inner h3 {
    background: #fff;
    color: #222;
    font-size: 18px;
    padding: 25px 45px;
}

section.innovation .img-box .inner .bottom {
    padding: 35px 85px;
    box-sizing: border-box;
}

section.innovation .img-box .inner .bottom p {
/*background: yellow;*/
    float: left;
    width: 70%;
    line-height: 1.6;
}

section.innovation .img-box .inner .bottom a {
    /*background: steelblue;*/
    /*display: block;*/
    float: right; /*float 사용시 display를 block으로 자동 바꿔져서 굳이 쓸 일이 없다.*/
    float: right;
    border-radius: 50%;
    background: #ff8342;
}

section.innovation .img-box .inner .bottom a:hover  {
    background: #f86010;
}

/*section.me style*/
section.me { 
    background: url(../img/me.jpg) no-repeat center / cover;
    padding: 80px 0;
    margin-bottom: 150px;
}

section.me ul.list {
    margin-top: 50px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

section.me ul.list > li {
    padding: 30px 60px;
}

section.me ul.list > li:first-child {
    border-bottom: 1px solid #ddd;
}
section.me ul.list > li h3 {
    font-size: 18px;
    margin: 20px;
    position: relative;
}
section.me ul.list > li h3 span { 
    position: absolute;
    left: -30px; /*span 바깥으로 밀고 싶은 것.*/
    color: #ff5898;
}
section.me ul.list > li p {
    line-height: 1.6;
    margin-bottom: 20px;
}
section.me ul.list > li .more {
    font-size: 16px;
    font-weight: 700;
}
section.me ul.list > li .more span {
    color: #ff5898;
    margin-left: 3px;
    font-size: 14px;
}

section.me ul.list ul.in {
    margin-bottom: 30px;

}
section.me ul.list ul.in li em {
    /*float이나 position이 적용되면 자동으로 블록요소로 바뀜*/
    float: left;
    font-weight: 700;
    width: 12%;
}
section.me ul.list ul.in li p {
    float: left;
    position: relative;
}

section.me ul.list ul.in li p::before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #f76590;
    position: absolute;
    left: -35px;
    top: 8px;
}
#incruit-btn {
    display: block;
    width: 280px;
    background: #f76590;
    color: #fff;
    margin: 20px auto 0;
    font-weight: 700;
    border-radius: 50px;
    padding: 10px 0;
    cursor: pointer;
}

/*section.sns start*/
section.sns {
    /*background: orange;*/
    margin-bottom: 60px;
    margin: 80px 0;
}

section.sns .sub-container {
    /*background: royalblue;*/
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}
section.sns .sub-container li {
    float: left;
    box-sizing: border-box;
    width: 33.3333%;
    height: 510px;
    overflow: hidden;
}
section.sns .sub-container li .img-box {
    overflow: hidden;
    max-height: 220px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    
}
section.sns .sub-container li .img-box img {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    transition: 0.6s;
}
section.sns .sub-container li .img-box::before{
    content: '';
    width: 0;
    height: 100%;
    background: #f76590;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
    z-index: 9999;
}
section.sns .sub-container li .img-box:hover::before {
    width: 100%;
}
section.sns .sub-container li .img-box::after{
    content: 'BLOG';
    width: 70px;
    font-size: 15px;
    text-align: center;
    position: absolute;
    color: white;
    border: 1px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    padding: 8px 0;
    margin: 0 auto;
    opacity: 0;
}
section.sns .sub-container li .img-box:hover::after {
    opacity: 1;
}
section.sns ul li a .bottom {
    padding: 20px 0 20px 30px;
    box-sizing: border-box;
}
section.sns ul li a .bottom .color {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f76590;
}
section.sns ul li a .bottom p {
    font-size: 16px;
    margin-bottom: 20px;
}
section.sns ul li a .bottom .time {
    color: gray;
    font-size: 13px;
    margin-top: 30px;
}
section.sns ul li a .bottom p.time i {
    margin-right: 5px;
    font-size: 0.9em;
}

/*footer style*/
footer {
    border-top: 1px solid #999;
    padding: 30px 0;
}

footer .inner {
    width: 84%;
    margin: 0 auto;
}

footer .inner .ft-logo {
    float: left;
    width: 14%;
}

footer .inner .ft-logo img {
    width: 100%;
}

footer .inner .address {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}

footer .inner .address li:first-child {
    font-weight: 700;
    margin-bottom: 10px;
}

footer .inner .address li:last-child {
    color: #999;
}

footer .inner .list {
    float: right;
    margin-top: 20px;
}
footer .inner .list li {
    float: left;
    margin-left: 80px;
}

footer .inner .list li:last-child {
    font-weight: 700;
}

footer .inner .list li a:hover {
    color: #f76590;
    text-decoration: underline;
}
/*반응형 웹 디자인*/
/*노트북 해상도 1600px 미만*/
@media screen and (max-width: 1599px) {
    header .inner-header nav {
        display: none;
    }

    header .inner-header .gnb-mobile {
        display: block;
        float: right;
        font-size: 40px;
        color: #fff;
    }
    section.main .main-title h2 {
        font-size: 35px;
    }
    section.main .main-title h3 {
        font-size: 18px;
    }
    section.main .main-title {
        font-size: 12px;
    }
    section.main ul li .img-box {
        max-height: 170px;
    }
    footer .inner .ft-logo {

    }
} 


/*태블릿 1024px 이하 해상도 (아이패드 프로)*/

@media  screen and (max-width: 1024px) {
    section.me ul.list > li .more span {
        font-size: 80px;
    }
    header .inner-header, section .sub-container, footer .inner {

    }
    section .inner .bottom p {
        margin-bottom: 50px;
        font-size: 20px;
    }
    section.sns .sub-container li .img-box {
        max-height: 130px;
    }
    section.me ul.list > li .more span  {
        left: -30px;
    }
    section.me ul.list li p {
        display: block;
    }
}
/*태블릿 768px 이하 해상도 (아이패드 미니)*/
@media screen and (max-width: 768px) {
    section .inner .bottom p {
        margin-bottom: 20px;
        font-size: 15px;
    }
    section .inner .en {
        text-align: center;
    }
    section.about .sub-container li {
        float: none;
        width: 100%;
        margin-bottom: 150px;
    }
    section.sns .sub-container li .img-box {
        max-height: 100px;

    }
    section.innovation .img-box .inner .bottom p {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
    section.innovaion .img-box .inner .bottom a {

    }

    footer .inner ul {
        float: left;
        font-size: 10px;
        margin-left: -50px;
    }
}

/*태블릿 414px 이하 해상도 (아이폰 6/7/8 plus)*/
@media screen and (max-width: 414px) {

    header .inner-header .logo img {
        width: 100px;
        margin-bottom: 30px;
    }
    header {
        height: 7%;
    }
    header .inner-header .gnb-mobile {
        font-size: 25px;
        margin-top: -15px;
    }
    section.main .main-title .en {
        font-size: 28px;
    }
    section.main .main-title p {
        font-size: 15px;
    }
    section.main .main-title a {
        font-size: 14px;
        height: 40px;
    }
    br.mo {
        display: block;
    }
}

